@import "layout";

body {
	padding: 20px;
}
.column {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #777;
    padding: 5px;
    min-height: 90px;
    text-align: center;
    
    .column {
    	color: #eee;
    	background: #333;
    	border-color: #000;
    }
}


.row {
    margin-bottom: 10px;

    &:last-child {    	
    	margin-bottom: 0;
    }
}

.p {
  font-size: 14px;
  text-align: center;
  padding-top: 100px;
}